body {
   background: #000000;
   color: #FFFFFF;
   padding: 0 0 0 0;
   max-width: 1200px;
}

header{
  width: 100%;
  max-width: 1200px;
  height: 70px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}
footer{
  width: 100%;
  align-content: center;
}
.htable{
width: 200px;
height: 80px;
background:  linear-gradient(to bottom, #4E1200,#7B1800 );
position: absolute;
top: 0;
left: 70px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
text-align: center;
}
.home {
  position: absolute;
  top: 30px;
  left: 450px;
}

.registration {
  position: absolute;
  top: 30px;
  left: 620px;
}

.authorization {
  position: absolute;
  top: 30px;
  left: 520px;
}
.loginform{
  width: 500px;
  height: 250px;
  border-radius: 20px;
  background: rgb(6,6,6);
  background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(25,25,25,1) 49%, rgba(6,6,6,1) 100%);
  top: 200px;
  left: 300px;
}

.logintable{
  position: relative;
  left: 80px;
}
.contactlist{
  width: 800px;
  height: 420px;
  border-radius: 20px;
  background: rgb(6,6,6);
  background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(25,25,25,1) 49%, rgba(6,6,6,1) 100%);
}

.listtable{
  position: relative;
  top: 20px;
  left: 20px;
  width: 760px;
  height: 380px;
}


h3 {
  position: relative;
  left: 80px;
}

input[type=submit]{
  background: linear-gradient(to bottom, #4E4E4E 30%, #101010 70%);
  color: #FFFFFF;
  border-radius: 8px;
  border: 0px;
}

form {
  background: #000000;
  position: absolute;
  top: 200px;
  left: 50px;
}
